body,html {
    margin: auto;
    border: ridge 5px black;
    border-radius: 7px;
    outline: solid 20px rgb(12, 0, 177);
    background-color: rgb(102, 102, 253);
    background-size: cover;
}

header {
    background-image: url(./background/foto-vertical-de-um-lindo-ceu-estrelado.jpg);
    background-size: cover;
    height: 200px;
    color: white;
}

#logo {
    display: flex;
    justtify-content: center;
    padding-top: 1%;
}

#logo img {
    border-radius: 50%;}

#marca {
    text-align: center;
    align-items: center;
    margin-left: 2%;
}

#marca p {
    margin: 1%;
    font-size: 30px;
    color: rgb(156, 156, 255);
}

h1 {
    font-size: 100px;
    margin: 0%;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 28px;
}

#cardapio {
    background-image: url(./background/foto-vertical-de-um-lindo-ceu-estrelado.jpg);
    background-size: cover;
    height: 60px;
    text-align: center;
    color: rgb(156, 156, 255);
}

#topico {
    text-align: center;
    color: black;
}

#itens {
    padding: 0% 10%;
}

#itens img {
    border-radius: 50%;
    opacity: 0.5;
}

#itens img:hover {
    opacity: 1;
}

.pudim {
    text-align: left;
    position: relative;
    color: rgb(219, 219, 219);
}

.pudim:hover {
    color: white;
}

.mousse {
    text-align: right;
    position: relative;
    color: rgb(219, 219, 219);
}

.mousse:hover {
    color: white;
}

.torta {
    text-align: left;
    position: relative;
    color: rgb(219, 219, 219);
}

.torta:hover {
    color: white;
}

.sorvete {
    text-align: right;
    position: relative;
    color: rgb(219, 219, 219);
}

.sorvete:hover {
    color: white;
}

footer {
    clear: both;
    display: flex;
    justify-content: space-between;
    color: rgb(219, 219, 219);
    font-size: 17px;
    padding: 0% 1% 1% 1%;
    background-image: url(./background/foto-vertical-de-um-lindo-ceu-estrelado.jpg);
    background-size: cover;
    height: 270px;
}

.contato, .localizacao {
    font-size: 20px;
    padding: 0% 5%;
    color: rgb(156, 156, 255);
}

.credito a:link {
    color: white;
}

.credito a:hover {
    color: rgb(138, 137, 137);
}

.credito a:visited {
    color: rgb(253, 169, 169);
}

.credito a:visited:hover {
    color: rgb(219, 219, 219);
}
